@charset "utf-8";
h1  {
	font-family: lobster;
	font-style: normal;
	font-weight: 400;
	font-size: x-large;
	color: #000000;
}
h2 {
	font-family: lobster;
	font-style: normal;
	font-weight: 400;
	/* [disabled]text-shadow: 0px 0px; */
	text-align: center;
}
p {
	font-size:16px;
}
body {
	font-family: source-sans-pro;
	font-style: normal;
	font-weight: 200;
	background-image: url(images/bkgdHome.jpg);
	background-size: cover;
	background-attachment: fixed;
}
footer {
	background-color: #000000;
	color: #FFFFFF;
	font-weight: 600;
	font-size: x-small;
	text-align: center;
	margin-left: 5%;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	clear: both;
}
nav   {
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
	font-weight: 400;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.sectionLeft {
	width: 30%;
	margin-left: 5%;
	margin-right: 2.5%;
	float: left;
}
.sectionRight {
	width: 50%;
	margin-left: 2.5%;
	margin-right: 5%;
	float: right;
	background-color: #FFFFFF;
	/* [disabled]border-right-width: medium; */
	border-left-width: thin;
	border-top: 10px solid #000000;
	border-bottom: 10px solid #000000;
	margin-bottom: 5%;
	padding-left: 5px;
	left: 0px;
}
.sectionFull {
	width: 60%;
	margin-left: 5%;
	margin-right: 5%;
	float: right;
	background-color: #FFFFFF;
	/* [disabled]border-right-width: medium; */
	border-top: 10px solid #000000;
	border-bottom: 10px solid #000000;
	border-left: 10px solid #ffffff;
	border-right: 10px solid #ffffff;
	margin-bottom: 5%;
}
header {
	text-align: center;
	clear: both;
}
.sectionRight {
	background-color: #FCDAF3;
}
.sectionRight p {
	padding-left: 2px;
	text-align: center;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	font-size:18px;
	font-weight:900;
}
a   {
	color: #FFFFFF;
    text-decoration: none;
}
.navHome {
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 70px;
	background-image: url(images/navHome.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0% 20px;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.navAbout {
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 70px;
	background-image: url(images/navAbout.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0% 20px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.navBlog {
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 70px;
	background-image: url(images/navBlog.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0% 30px;
	zoom: 1;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.navContact {
	margin-left: 2%;
	margin-right: 2%;	
	padding-top: 70px;
	background-image: url(images/navContact.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0% 20px;
	zoom: 0.95;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.blogImage {
	margin-left: 20px;
	margin-right: 20px;
	vertical-align:middle;
}
.navHome:hover {
	background-position: 0px 0px;
	color: #FFFFFF;
}
.navAbout:hover {
	background-position: 0px 0px;
}
.navBlog:hover {
	background-position: 0px 0px;
}
.navContact:hover {
	background-position: 0px 0px;
}

@media screen and (max-width:750px){
.sectionFull {
	width:auto;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	background-color: #FFFFFF;
	/* [disabled]border-right-width: medium; */
	/*
	border-top: 10px solid #000000;
	border-bottom: 10px solid #000000;
	border-left: 10px solid #ffffff;
	border-right: 10px solid #ffffff;
	margin-bottom: 5%;
	*/
	/*
	margin-left: 5%;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	*/
}
img{
	max-width:100%;
	max-height:100%;
}

}
